.LoginFormMain{
    border: 1px solid #DBDBDB;
    width:330px ;
    margin-top: 35px;
    padding: 15px;
    text-align: center;
    height: 400px;
}
.signInHead{
    font-size: 45px;
    font-weight: bold;
}
.stayUpdated{
    font-size: 25px;
}
/* .inputField{
    width: 250px;
    height: 20px;
} */
.loginpage__text{
    width: 90%;
    height: 40px;
    margin: 3px;
    font-size: 15px;
    border: 1px solid #DBDBDB;
    background-color:#FAFAFA ;
    padding-left: 10PX;
    border-radius: 5px;
  }
  .login__button{
    width: 95%;
    height: 40px;
    font-size: 13px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 25px;
    border: 1px solid #0395F6;
    background-color: #CE5959;
    color: #DBDBDB;
    cursor: pointer;
  }
  .login__button:hover{
    background-color: #0395F6;
  }
  .loginpage_signup{
    border: 1px solid #DBDBDB;
    margin-top: 2px;
    padding: 15px;
    font-size: 15px;
    height: 58px;
    text-align: center;
    /* border: 1px solid; */
  }