
.containerWhole {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.containerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 50%;
}

.imageBox {
    width: 100%;
    height: 80vh;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prodImage {
    width: 60%;
    height: 100%;
    transition: all 1s;
    display: block;
    height: auto;
    transform: scale(.8);

}

.prodImage:hover {
    transform: scale(1);

}

.containerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 50%;
}

.detialsDiv {
    height: 50%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#prodBrand {
    font-size: 2.3rem;
    font-weight: bold;
}

#prodTitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-hash);
}

.ratingsContainer {
    height: 1.6rem;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--light-hash);
}

#rantings {
    margin: 0px;
    margin-right: 2px;
}

#vr {
    margin: 0px 3px;
    color: var(--hash);
}

#ratingCount {
    margin: 0px;
    color: var(--dark-hash);
}

.horizontalDivider {
    width: 95%;
}

.price-line {
    width: 50%;
}

.ProductInfo {
    font-size: 1.4rem;
}

.line {
    color: var(--dark-hash);
    font-weight: 300;
}

#ProdDiscount {
    font-style: normal;
    color: #ff905a;
}

.selectSize {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#size_chart {
    color: var(--myntra-pink);
}

.sizes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.size {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10rem;
    border: 1px solid var(--dark-hash);
    cursor: pointer;
}

.size:hover {
    border: 1px solid var(--myntra-pink);

}

.buttons-sec {
    display: flex;
    width: 80%;
}

#add-to-bag {
    color: white;
    width: 60%;
    background: var(--myntra-pink);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-to-bag:hover {
    background-color: var(--myntra-pink-hover);
}

#wishlist {
    width: 40%;
    border: 1px solid var(--hash);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
      display: flex;
    align-items: center;
    justify-content: center;
}

#wishlist:hover {
    border: 1px solid black;

}

.buttons {
    font-size: 1rem;
    font-weight: 500;
    margin: 0px;
}

/* bottom bar style */
.buttons-sec-mobile {
   display: flex;
        justify-content: space-around;
        align-items: center;
        position:fixed;
        bottom: 0px;
        background-color: white;
        height: 3.5rem;
        width: 100vw;
        font-size: .9rem;
        text-align: center;
        font-weight: 600;
        color: #575757;
}

#add-to-bag-mobile {

    color: white;
    width: 60%;
    height: 100%;
    background: var(--myntra-pink);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-to-bag-mobile:hover {
    background-color: var(--myntra-pink-hover);
}

#wishlist-mobile {
    width: 40%;
    height: 100%;
    border: 1px solid var(--hash);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wishlist-mobile:hover {
    border: 1px solid black;

}

.buttons-sec-mobile{
    display: none;
}

@media (min-width: 350px)  and (max-width: 1024px){
    .containerWhole{
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .containerLeft {
    height: 50vh;
    width: 100%;
}.containerRight{
        align-items: flex-start;
     height: 40%;
    width: 100%;
    padding: 1rem;
    
}
.imageBox {
    width: 100%;
    height: 100%;
    
}
.prodImage {
    width: 70%;
    object-fit: cover;
}
.horizontalDivider{
    display: block;
}
.price-line {
    margin: 1rem 0rem;
    width: 100%;
}
.selectSize {
    width: 80%;
}
.size {
    margin: .2rem;
    padding: 1rem;
}
    .buttons-sec{
        display: none;
    }
    .buttons-sec-mobile{
        display: flex;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
     .buttons-sec{
        display: none;
    }
    .buttons-sec-mobile{
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
.prodImage {
    width: 40%;
    object-fit: cover;
}
.price-line {
    margin: 1rem 0rem;
    width: 50%;
}
.selectSize {
    width: 40%;
}
}

@media (min-width: 1025px) and (max-width: 1920px) {}

@media (min-width: 1930px) {}