#item{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 2rem;
    position: absolute;
    top: 7.5rem;
}

#img-wrapper{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#img-wrapper div{
    width: 48%;
    margin-bottom: 1rem;
}

#img-wrapper div img{
    width: 100%;
}

#desc-wrapper #title{
    color: #282c3f;
    padding: 0 20px 0 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

#desc-wrapper #description{
    color: #535665;
    padding: 5px 20px 14px 0;
    font-size: 20px;
    opacity: .8;
    font-weight: 400;
}

#desc-wrapper{
    padding: 1rem 2rem;
}

#desc-wrapper div{
    display: flex;
    align-items: center;
}

#desc-wrapper div #price{
    color: #282c3f;
    font-weight: 700;
    font-size: 2.4rem;
    margin-right: 1.2rem;
}

#desc-wrapper div #strikePrice{
    opacity: .8;
    font-size: 20px;
    line-height: 1.2;
    color: #282c3f;
    margin-right: 12px;
}

#desc-wrapper div #discount{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .5px;
    color: #ff905a;
}

#desc-wrapper #inclusive{
    color: #03a685;
    font-weight: 700;
    font-size: 14px;
    display: block;
    margin: .5rem 0 2rem 0;
}

#desc-wrapper #selectSize{
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    margin: .5rem 0 1rem 0;

}

#desc-wrapper #addToCart{
    font-weight: 700;
    cursor: pointer;
    font-size: 1.6rem;
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    border-radius: .4rem;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
}
#desc-wrapper #addToCart:hover{
    background-color: #ea6382;
}


.size{
    font-size: 14px;
    padding: 1.5rem;
    font-weight: 700;
    margin: 2rem 1rem;
    border: 1px solid #282c3f;
    border-radius: 50%;
}

.size:hover{
    cursor: pointer;
    border-color: #ff3e6c;
}

.strike{
    text-decoration: line-through;
    color: #7e818c;
    font-size: 1.2rem;
    opacity: .8;
    font-size: 2rem;
    line-height: 1.2;
    color: #282c3f;
}